<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Cloud File Storage</title>
    <link th:href="@{/css/home-page-style.css}" rel="stylesheet"
          th:if="${#authorization.expression('isAuthenticated()')}">
    <script th:src="@{js/home-page-script.js}" defer
            th:if="${#authorization.expression('isAuthenticated()')}"></script>
</head>
    <body>
        <div>
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">Sign in</a>
                <a th:href="@{/registration}">Sign up</a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out"/>
                </form>
            </div>
        </div>

        <div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/search/}" th:method="get" style="display: inline;">
                    <label> Enter file or folder name : <input type="text" name="query"/></label>
                    <input type="submit" value="Search"/>
                </form>
                <a th:href="@{/}">My disk</a>
                <span th:if="${!breadCrumbs.isEmpty()}">
                    <span th:each="breadCrumb, iterStat: ${breadCrumbs}">
                        <span> -> </span>
                        <a th:if="${!iterStat.last}" th:href="@{/(path=${#uris.escapePath(breadCrumb.pathForLink)})}" th:text="${breadCrumb.displayName}"></a>
                        <span th:if="${iterStat.last}" th:text="${breadCrumb.displayName}"></span>
                    </span>
                </span>
                <ul>
                    <li th:each="element : ${listOfItems}">
                        <div th:if="${element.isDirectory}">
                            <a th:href="@{/(path=${#uris.escapePath(element.relativePath)})}"
                               th:text="'/' + ${element.relativePath}"></a>
                            <form th:action="@{/file}" th:method="delete" style="display: inline;">
                                <input type="hidden" name="objectForDeletion" th:value="${element.relativePath}"/>
                                <input type="hidden" name="currentPath" th:value="${path}"/>
                                <input type="submit" value="Delete"/>
                            </form>
                            <form th:action="@{/file}" th:method="put" th:object="${renameFormDto}" style="display: inline;">
                                <label> New file name : <input type="text" th:field="*{objectName}"/></label>
                                <input type="hidden" name="relativePathToObject" th:value="${element.relativePath}"/>
                                <span th:if="renameValidationErrors">
                                    <span th:if="${#strings.equals(relativePathToItemWithError, element.relativePath)}">
                                        <span th:each="error: ${renameValidationErrors}" th:text="${error.defaultMessage}"></span>
                                    </span>
                                </span>
                                <input type="hidden" name="currentPath" th:value="${path}"/>
                                <input type="submit" value="Rename"/>
                            </form>
                        </div>
                        <div th:if="${!element.isDirectory}">
                            <span th:text="'/' + ${element.relativePath}"></span>
                            <span th:text="${path}"></span>
                            <form th:action="@{/file}" th:method="delete" style="display: inline;">
                                <input type="hidden" name="objectForDeletion" th:value="${element.relativePath}"/>
                                <input type="hidden" name="currentPath" th:value="${path}"/>
                                <input type="submit" value="Delete"/>
                            </form>
                            <form th:action="@{/file}" th:method="put" th:object="${renameFormDto}" style="display: inline;">
                                <label> New file name : <input type="text" th:field="*{objectName}"/></label>
                                <input type="hidden" name="relativePathToObject" th:value="${element.relativePath}"/>
                                <span th:if="${renameValidationErrors != null and renameValidationErrors.size() > 0}">
                                    <span th:if="${#strings.equals(relativePathToItemWithError, element.relativePath)}">
                                        <span th:text="${renameValidationErrors[0].defaultMessage}"></span>
                                    </span>
                                </span>
                                <input type="hidden" name="currentPath" th:value="${path}"/>
                                <input type="submit" value="Rename"/>
                            </form>
                        </div>
                    </li>
                </ul>
                <form th:action="@{/folder}" th:method="post" th:object="${folderForm}">
                    <label> Folder name : <input type="text" th:field="*{objectName}"/></label>
                    <span th:if="${createFolderValidationErrors != null and createFolderValidationErrors.size() > 0}">
                        <span th:text="${createFolderValidationErrors[0].defaultMessage}"></span>
                    </span>
                    <input type="hidden" name="currentPath" th:value="${path}"/>
                    <input type="submit" value="Create folder"/>
                </form>
                <form th:action="@{/file/upload}" th:method="post" th:object="${uploadFileFormDto}" enctype="multipart/form-data">
                    <label for="file">Choose a file:</label>
                    <input type="file" id="file" name="file" />
                    <span th:if="${uploadFileValidationErrors != null and uploadFileValidationErrors.size() > 0}">
                        <span th:text="${uploadFileValidationErrors[0].defaultMessage}"></span>
                    </span>
                    <input type="hidden" name="currentPath" th:value="${path}" />
                    <input type="submit" value="Upload" />
                </form>
                <form th:action="@{/folder/upload}" th:method="post" th:object="${uploadFolderFormDto}" enctype="multipart/form-data">
                    <label for="files">Choose a folder:</label>
                    <input type="file" id="files" name="files" webkitdirectory multiple/>
                    <span th:if="${uploadFolderValidationErrors != null and uploadFolderValidationErrors.size() > 0}">
                        <span th:text="${uploadFolderValidationErrors[0].defaultMessage}"></span>
                    </span>
                    <input type="hidden" name="currentPath" th:value="${path}" />
                    <input type="submit" value="Upload" />
                </form>
                <div class="drop-zone" id="dropZone">
                    <div class="drop-zone__prompt">Drop files and folders here</div>
            </div>
        </div>
    </body>
</html>