<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Security Example</title>
</head>
    <body>
        <div>
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
            <div th:if="${!#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/login}">Sign in</a>
                <a th:href="@{/registration}">Sign up</a>
            </div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out"/>
                </form>
            </div>
        </div>

        <div>
            <div th:if="${#authorization.expression('isAuthenticated()')}">
                <a th:href="@{/}" th:text="${root}"></a>
                <span th:if="${!breadCrumbs.isEmpty()}">
                    <span th:each="breadCrumb, iterStat: ${breadCrumbs}">
                        <span> -> </span>
                        <a th:if="${!iterStat.last}" th:href="@{/(path=${#uris.escapePath(breadCrumb.pathForLink)})}" th:text="${breadCrumb.displayName}"></a>
                        <span th:if="${iterStat.last}" th:text="${breadCrumb.displayName}"></span>
                    </span>
                </span>
                <ul>
                    <li th:each="element : ${listOfItems}">
                        <div th:if="${element.getIsDirectory()}">
                            <a th:href="@{/(path=${#uris.escapePath(element.relativePath)})}"
                               th:text="${element.getPath()}"></a>
                        </div>
                        <div th:if="${!element.getIsDirectory()}">
                            <span th:text="${element.getPath()}"></span>
                        </div>
                    </li>
                </ul>
                <form th:action="@{/}" th:method="post" enctype="multipart/form-data">
                    <label for="file">Choose a file:</label>
                    <input type="file" id="file" name="file" />
                    <input type="hidden" name="path" th:value="${path}" />
                    <br />
                    <input type="submit" value="Upload" />
                </form>
            </div>
        </div>

    </body>
</html>