<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Searching page</title>
</head>
    <body>
        <div>
            <h1 th:inline="text">Hello <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h1>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Log out"/>
            </form>
        </div>
        <div>
            <form th:action="@{/search/}" th:method="get" style="display: inline;">
                <label> Enter file or folder name : <input type="text" name="query"/></label>
                <input type="submit" value="Search"/>
            </form>
            <ul>
                <li th:each="item : ${foundItems}">
                    <div th:if="${item.isDirectory}">
                        <a th:href="@{/(path=${#uris.escapePath(item.relativePath)})}"
                           th:text="${'/' + item.relativePath}"></a>
                    </div>
                    <div th:if="${!item.isDirectory}">
                        <span th:text="${'/' + item.relativePath}"></span>
                        <a th:href="@{/(path=${#uris.escapePath(item.relativePathToParentFolder)})}">go to parent folder</a>
                    </div>
                </li>
            </ul>
        </div>
    </body>
</html>